{% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
{% assign conferences = site.data.conferences %}
{% for conf in conferences %}
<h2>{{ conf.name }} <span style="color:#999;font-size:80%;display:inline-block;margin-left:0.5ex;">: {{ conf.fullname }}</span></h2>
<table>
  {% for edition in conf.editions %}
    {% assign mstart = edition.start | date:"%m" %}
    {% assign mend   = edition.end   | date:"%m" %}
    {% capture deadline %}{{edition.dead | date: '%s'}}{% endcapture %}
    <tr>
      <td><a href="{{ edition.url }}">{{ conf.name }} {{ edition.year }}</a></td>
      <td>{{ edition.start | date:"%d %B" }} — {{ edition.end | date:"%d %B" }}</td>
      <td>{{ edition.venue }}</td>
      <td style="{% if deadline < nowunix %}text-decoration:line-through;color:#999;{% endif %}">{{ deadline | date_to_string }}</td>
    </tr>
  {% endfor %}
</table>
{% endfor %}
