<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="assets/main.css">
  </head>
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <p>{{ site.title }}</p>
        {{ content }}
        <br /><hr /><br />
        <p>Sources :</p>
        <ul>
          {% for source in site.data.sources %}
          <li><a href="{{ source.url }}">{{ source.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
